*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: rgb(218, 215, 215);
}

.formulario{
    display: flex;
    justify-content: center;
    padding: 5%;
}

.nav-conteiner{
    /*position: sticky;
    z-index: 3;*/
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: black;
}

.registrate{
    display: flex;
    justify-content: center;
}

.tienda{
    text-decoration: aquamarine;
    justify-content: start;
    margin-left: 20px;
    color: aliceblue;
    margin-top: 4vh;
    cursor: pointer;
}

.ver-carrito{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}



.overlay {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Posición fija para cubrir toda la ventana */
    z-index: 1; /* Colocar por encima del resto del contenido */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
}

.cart {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Posición fija para centrarlo en la ventana */
    z-index: 2; /* Colocar por encima del overlay */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar el modal */
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    flex-direction: column;
}

.image-cart {
    width:100px;
    height: 150px;
    margin-bottom: 12px;
}

.title {
    font-size: 16px;
}

.price {
    font-size: 20px;
    font-weight: 600;
}

.button-close {
    cursor: pointer;
}

.item {
    padding: 20px;
}

.product-image {
    width: 50px;
}

.product {
    display: flex;
    flex-direction: row;
}

.productos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.20);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.productos img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.estilo-card{
    padding: 15px 30;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.precio{
    font-size: 18px;
    font-weight: 650;
}

.agregar{
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}

.tacho{
    cursor: pointer;
}

.tacho2{
    
    cursor: pointer;
}

/*.productos:hover img{
    transform: scale(1.2);
}*/